extends layout.pug

block content

  article.portfolio-intro

    
    h1 My Portfolio

 
    p Hi, my name is Thammapong, I'm a full stack javascript developer in the making! This is my portfolio where I can show off a few of the application/projects I have built.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      
      each project in projects
      

        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`/static/images/pj${project.id}.jpg`, alt=`${project.project_name}`)
            h5=project.project_name

